/* .container.newPay-container {
    padding: 0;
    max-width: 100%;
  } */

  .newPay-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .newPay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .input-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  
  